In [1]:
import numpy as np
import re
import json
import pandas as pd

In [2]:
model = "gpt-3.5-turbo"

labels = pd.read_csv("results.txt", delimiter = ",").loc[:,["pairid", " varA","varB","dataset","groundtruth"]]
labels['pairid'] = labels['pairid'].str.extract('(\d{4})').astype(int) # convert pairid to int
labels["groundtruth"] = labels["groundtruth"].str.replace(r'\s+', '', regex=True) # remove white space in labels

weights = pd.read_csv("pairmeta.txt", delimiter = " ", header = None).iloc[:,[0,5]]
weights.rename(columns = {0:"pairid", 5:"weight"}, inplace=True)
weights['pairid'] = weights['pairid'].astype(int) # convert pairid to int

merged_df = labels.merge(weights, on='pairid')

with open(model + "_response_withsys_doubleprompt.json", "r") as file:
    loaded_data = json.load(file)
    
merged_df.head()

   pairid       varA            varB  dataset groundtruth  weight
0       1   Altitude     Temperature      DWD          ->   0.166
1       2   Altitude   Precipitation      DWD          ->   0.166
2       3  Longitude     Temperature      DWD          ->   0.167
3       4   Altitude  Sunshine hours      DWD          ->   0.166
4       5        Age          Length  Abalone          ->   0.143

In [6]:
def add_prediction(merged_df, loaded_data, model):
    merged_df = merged_df.set_index('pairid')
    for response in loaded_data:
        pairid, resid, answer = extract_answers(response)
        print(pairid,resid, answer)
        col = "AtoB" if resid == "1" else "BtoA"
        merged_df.loc[int(pairid),col] = "Yes" if answer == "Yes." else "No" if answer == "No." else answer
        print("Converted:", merged_df.loc[int(pairid),col])
    return merged_df


def extract_answers(s):
    # Compile regex patterns
    
    pairid_pattern = re.compile(r"\{'pair0(\d{3}),_res(\d)")
    
    # Search for pairid
    pairid_match = pairid_pattern.search(str(s))
    pairid = pairid_match.group(1) if pairid_match else None
    resid = pairid_match.group(2) if pairid_match else None
    
    # Search for answer
    ans = s["pair0"+ str(pairid) + ',_res' + str(resid)]["choices"][0]["message"]['content']
    
    return pairid, resid, ans

In [7]:
loaded_data[1]

{'pair0001,_res2': {'id': 'chatcmpl-7zBbx8JdhwOPPiZrHjzaASwHbRzJy',
  'object': 'chat.completion',
  'created': 1694816997,
  'model': 'gpt-3.5-turbo-0613',
  'choices': [{'index': 0,
    'message': {'role': 'assistant', 'content': 'No.'},
    'finish_reason': 'stop'}],
  'usage': {'prompt_tokens': 40, 'completion_tokens': 2, 'total_tokens': 42}}}

In [8]:
results = add_prediction(merged_df, loaded_data, model)

001 1 Yes.
Converted: Yes
001 2 No.
Converted: No
002 1 Yes.
Converted: Yes
002 2 No.
Converted: No
003 1 No.
Converted: No
003 2 No.
Converted: No
004 1 Yes.
Converted: Yes
004 2 No.
Converted: No
005 1 Yes.
Converted: Yes
005 2 No.
Converted: No
006 1 Yes.
Converted: Yes
006 2 No.
Converted: No
007 1 Yes.
Converted: Yes
007 2 No.
Converted: No
008 1 No.
Converted: No
008 2 No.
Converted: No
009 1 Yes.
Converted: Yes
009 2 No.
Converted: No
010 1 Yes.
Converted: Yes
010 2 No.
Converted: No
011 1 Yes.
Converted: Yes
011 2 No.
Converted: No
012 1 Yes.
Converted: Yes
012 2 No.
Converted: No
013 1 Yes.
Converted: Yes
013 2 No.
Converted: No
014 1 Yes.
Converted: Yes
014 2 No.
Converted: No
015 1 Yes.
Converted: Yes
015 2 No.
Converted: No
016 1 Yes.
Converted: Yes
016 2 No.
Converted: No
017 1 No.
Converted: No
017 2 No.
Converted: No
018 1 Yes.
Converted: Yes
018 2 No.
Converted: No
019 1 Yes.
Converted: Yes
019 2 Yes.
Converted: Yes
020 1 Yes.
Converted: Yes
020 2 No.
Converted: No
021 1 Yes.
Converted: Yes
021 2 No.
Converted: No
022 1 No.
Converted: No
022 2 No.
Converted: No
023 1 Yes.
Converted: Yes
023 2 No.
Converted: No
024 1 Yes.
Converted: Yes
024 2 No.
Converted: No
025 1 Yes.
Converted: Yes
025 2 No.
Converted: No
026 1 Yes.
Converted: Yes
026 2 No.
Converted: No
027 1 Yes.
Converted: Yes
027 2 No.
Converted: No
028 1 Yes.
Converted: Yes
028 2 No.
Converted: No
029 1 Yes.
Converted: Yes
029 2 No.
Converted: No
030 1 Yes.
Converted: Yes
030 2 No.
Converted: No
031 1 Yes.
Converted: Yes
031 2 No.
Converted: No
032 1 Yes.
Converted: Yes
032 2 No.
Converted: No
033 1 Yes.
Converted: Yes
033 2 No.
Converted: No
034 1 No.
Converted: No
034 2 No.
Converted: No
035 1 Yes.
Converted: Yes
035 2 No.
Converted: No
036 1 Yes.
Converted: Yes
036 2 No.
Converted: No
037 1 Yes.
Converted: Yes
037 2 No.
Converted: No
038 1 Yes.
Converted: Yes
038 2 No.
Converted: No
039 1 Yes.
Converted: Yes
039 2 No.
Converted: No
040 1 Yes.
Converted: Yes
040 2 No.
Converted: No
041 1 Yes.
Converted: Yes
041 2 No.
Converted: No
042 1 Yes.
Converted: Yes
042 2 No.
Converted: No
043 1 Yes.
Converted: Yes
043 2 No.
Converted: No
044 1 Yes.
Converted: Yes
044 2 No.
Converted: No
045 1 Yes.
Converted: Yes
045 2 No.
Converted: No
046 1 Yes.
Converted: Yes
046 2 No.
Converted: No
047 1 No.
Converted: No
047 2 No.
Converted: No
048 1 No.
Converted: No
048 2 Yes.
Converted: Yes
049 1 Yes.
Converted: Yes
049 2 Yes.
Converted: Yes
050 1 Yes.
Converted: Yes
050 2 Yes.
Converted: Yes
051 1 Yes.
Converted: Yes
051 2 Yes.
Converted: Yes
052 1 Yes.
Converted: Yes
052 2 No.
Converted: No
053 1 Yes.
Converted: Yes
053 2 Yes.
Converted: Yes
054 1 Yes.
Converted: Yes
054 2 No.
Converted: No
055 1 Yes.
Converted: Yes
055 2 Yes.
Converted: Yes
056 1 No.
Converted: No
056 2 Yes.
Converted: Yes
057 1 No.
Converted: No
057 2 Yes.
Converted: Yes
058 1 No.
Converted: No
058 2 Yes.
Converted: Yes
059 1 No.
Converted: No
059 2 Yes.
Converted: Yes
060 1 No.
Converted: No
060 2 Yes.
Converted: Yes
061 1 No.
Converted: No
061 2 Yes.
Converted: Yes
062 1 No.
Converted: No
062 2 Yes.
Converted: Yes
063 1 No.
Converted: No
063 2 Yes.
Converted: Yes
064 1 Yes.
Converted: Yes
064 2 No.
Converted: No
065 1 Yes.
Converted: Yes
065 2 Yes.
Converted: Yes
066 1 Yes.
Converted: Yes
066 2 Yes.
Converted: Yes
067 1 Yes.
Converted: Yes
067 2 Yes.
Converted: Yes
068 1 No.
Converted: No
068 2 No.
Converted: No
069 1 No.
Converted: No
069 2 Yes.
Converted: Yes
070 1 Yes.
Converted: Yes
070 2 Yes.
Converted: Yes
071 1 Yes.
Converted: Yes
071 2 No.
Converted: No
072 1 Yes.
Converted: Yes
072 2 No.
Converted: No
073 1 Yes.
Converted: Yes
073 2 Yes.
Converted: Yes
074 1 Yes.
Converted: Yes
074 2 Yes.
Converted: Yes
075 1 Yes.
Converted: Yes
075 2 Yes.
Converted: Yes
076 1 Yes.
Converted: Yes
076 2 No.
Converted: No
077 1 No.
Converted: No
077 2 Yes.
Converted: Yes
078 1 Yes.
Converted: Yes
078 2 No.
Converted: No
079 1 No.
Converted: No
079 2 Yes.
Converted: Yes
080 1 No.
Converted: No
080 2 Yes.
Converted: Yes
081 1 Yes.
Converted: Yes
081 2 Yes.
Converted: Yes
082 1 Yes.
Converted: Yes
082 2 Yes.
Converted: Yes
083 1 Yes.
Converted: Yes
083 2 Yes.
Converted: Yes
084 1 No.
Converted: No
084 2 Yes.
Converted: Yes
085 1 No.
Converted: No
085 2 No.
Converted: No
086 1 Yes.
Converted: Yes
086 2 No.
Converted: No
087 1 Yes.
Converted: Yes
087 2 No.
Converted: No
088 1 Yes.
Converted: Yes
088 2 No.
Converted: No
089 1 No.
Converted: No
089 2 No.
Converted: No
090 1 No.
Converted: No
090 2 No.
Converted: No
091 1 Yes.
Converted: Yes
091 2 No.
Converted: No
092 1 No.
Converted: No
092 2 Yes.
Converted: Yes
093 1 Yes.
Converted: Yes
093 2 No.
Converted: No
094 1 Yes.
Converted: Yes
094 2 No.
Converted: No
095 1 Yes.
Converted: Yes
095 2 No.
Converted: No
096 1 Yes.
Converted: Yes
096 2 Yes.
Converted: Yes
097 1 Yes.
Converted: Yes
097 2 No.
Converted: No
098 1 Yes.
Converted: Yes
098 2 No.
Converted: No
099 1 No.
Converted: No
099 2 Yes.
Converted: Yes
100 1 Yes.
Converted: Yes
100 2 No.
Converted: No
101 1 Yes.
Converted: Yes
101 2 Yes.
Converted: Yes
102 1 Yes.
Converted: Yes
102 2 No.
Converted: No
103 1 Yes.
Converted: Yes
103 2 No.
Converted: No
104 1 No.
Converted: No
104 2 No.
Converted: No
105 1 Yes.
Converted: Yes
105 2 No.
Converted: No
106 1 No.
Converted: No
106 2 Yes.
Converted: Yes
107 1 Yes.
Converted: Yes
107 2 No.
Converted: No
108 1 No.
Converted: No
108 2 No.
Converted: No

In [9]:
results["AtoB"].unique()

array(['Yes', 'No'], dtype=object)

In [10]:
results["gt_AtoB"] = np.where(results["groundtruth"] == "->", "Yes", "No")
results["gt_BtoA"] = np.where(results["groundtruth"] == "->", "No", "Yes")
results["correct_AtoB"] = np.where(results["gt_AtoB"] == results["AtoB"], 1, 0)
results["correct_BtoA"] = np.where(results["gt_BtoA"] == results["BtoA"], 1, 0)
wtd_acc = (sum(results["correct_AtoB"]*results["weight"]) + sum(results["correct_BtoA"]*results["weight"])) / (results["weight"].sum()*2)
acc = (sum(results["correct_AtoB"]) + sum(results["correct_BtoA"])) / 108 / 2
print("acc:", acc, "weighted acc:", wtd_acc)

acc: 0.8518518518518519 weighted acc: 0.844526243720816

In [11]:
results

,varA,varB,dataset,groundtruth,weight,AtoB,BtoA,gt_AtoB,gt_BtoA,correct_AtoB,correct_BtoA
pairid,,,,,,,,,,,
1,Altitude,Temperature,DWD,->,0.166,Yes,No,Yes,No,1,1
2,Altitude,Precipitation,DWD,->,0.166,Yes,No,Yes,No,1,1
3,Longitude,Temperature,DWD,->,0.167,No,No,Yes,No,0,1
4,Altitude,Sunshine hours,DWD,->,0.166,Yes,No,Yes,No,1,1
5,Age,Length,Abalone,->,0.143,Yes,No,Yes,No,1,1
...,...,...,...,...,...,...,...,...,...,...,...
104,time for passing 1. segment,time for passing 2. segment,D. Janzing,->,0.200,No,No,Yes,No,0,1
105,pixel vector of a patch,total brightness at the screen,D. Janzing,->,0.500,Yes,No,Yes,No,1,1
106,time required for one round,voltage,D. Janzing,<-,1.000,No,Yes,No,Yes,1,1
107,strength of contrast,answer correct or not,"Schuett, edited by D. Janzing",->,1.000,Yes,No,Yes,No,1,1
108,time for 1/6 rotation,temperature,D. Janzing,<-,1.000,No,No,No,Yes,1,0